/* src/styles/ChatWindow.css */
.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: white;
}

.chat-header {
  padding: 12px;
  background: #647A67;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.message-list-container {
  flex: 1;
  overflow-y: auto;
  padding: 12px;
  background: #e5e5e5;
}

.message-list {
  display: flex;
  flex-direction: column;
}
